{% extends "bootstrap/base.html" %}
{#Esto es un comentario#}
{% block html_attribs %}
lang='es'
{% endblock html_attribs %}

{% block head %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
    {% block title %}<title>Gestor de Incidencias</title>{% endblock %}

    {% block css %}
        <!-- Bootstrap core CSS-->
        <link href="{{ url_for('static', filename='startbootstrap-sb-admin-gh-pages/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Custom fonts for this template-->
        <link href="{{ url_for ('static', filename='startbootstrap-sb-admin-gh-pages/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="{{ url_for('static', filename='startbootstrap-sb-admin-gh-pages/css/sb-admin.css') }}" rel="stylesheet">
        <!-- Custom styles for Font Awesome Animations -->
        <link rel="stylesheet" href="/static/css/font-awesome-animation.min.css" type="text/css">
        <!-- Custom styles from base -->
        <link rel="stylesheet" href="/static/css/base.css" type="text/css">
    {% endblock %}

{% endblock head %}

{% block body_attribs %}
    class="fixed-nav sticky-footer bg-dark" id="page-top"
{% endblock body_attribs %}


{% block body %}
    {% block navbar %}
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="effect-line">

            <div class="wrapper">
                <span class="square individual">
                    <a class="ninth before after" href="{{ url_for('dashboard') }}">Gestor de Incidencias</a>
                </span>
            </div>

{#            <a class="navbar-brand" href="{{ url_for('dashboard') }}">#}
{#              <span class="navbar-brand text">Gestor de Incidencias</span>#}
{#              <span class="line -right"></span>#}
{#              <span class="line -top"></span>#}
{#              <span class="line -left"></span>#}
{#              <span class="line -bottom"></span>#}
{#            </a>#}
        </div>
        <!-- <a class="navbar-brand" href="{{ url_for('dashboard') }}"><b>Gestor de Incidencias</b></a> -->

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/dashboard">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Mi panel</span>
                    </a>
                </li>

                {% if role == 'cliente' %}
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Crear Incidecia">
                        <a class="nav-link" href="/crear_incidencia">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                            <span class="nav-link-text">Crear incidencia</span>
                        </a>
                    </li>
                {% endif %}

                {% if role == 'cliente' %}
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Incidencias">
                      <a class="nav-link" href="/incidencias">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Todas mis incidencias</span>
                      </a>
                    </li>
                {% endif %}

                {% if role == 'cliente' %}
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Incidencias">
                      <a class="nav-link" href="/incidencias_abiertas">
{#                        <i class="fa fa-fw fa-envelope-open-o"></i>#}
                          <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                        <span class="nav-link-text">Incidencias abiertas</span>
                      </a>
                    </li>
                {% endif %}

                {% if role == 'cliente' %}
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Incidencias">
                      <a class="nav-link" href="/incidencias">
{#                        <i class="fa fa-fw fa-envelope-o"></i>#}
{#                          <i class="fa fa-window-close" aria-hidden="true"></i>#}
                          <i class="fa fa-folder-o" aria-hidden="true" aria-hidden="true"></i>
                        <span class="nav-link-text">Resumen de mis incidencias</span>
                      </a>
                    </li>
                {% endif %}

                {% if role == 'tecnico' %}
                  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Incidencias">
                      <a class="nav-link" href="/incidencias_asignadas">
{#                        <i class="fa fa-fw fa-envelope-o"></i>#}
{#                          <i class="fa fa-window-close" aria-hidden="true"></i>#}
                          <i class="fa fa-folder-open-o" aria-hidden="true" aria-hidden="true"></i>
                        <span class="nav-link-text">Incidencias abiertas asignadas</span>
                      </a>
                    </li>
                {% endif %}

                {% if role == 'tecnico' %}
                  <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Incidencias">
                      <a class="nav-link" href="/incidencias_cerradas">
{#                        <i class="fa fa-fw fa-envelope-o"></i>#}
{#                          <i class="fa fa-window-close" aria-hidden="true"></i>#}
                          <i class="fa fa-folder-o" aria-hidden="true" aria-hidden="true"></i>
                        <span class="nav-link-text">Todas las incidencias cerradas</span>
                      </a>
                    </li>
                {% endif %}

            </ul>

            <ul class="navbar-nav ml-auto pull-left">
                {% if username is not none %}
                    {% if username != "" %}
                    <li class="nav-item">
                        <a class="usuario">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <b>Usuario: </b> {{ username }}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="role">

                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                            <b>Rol: </b> {{ role }}
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link faa-parent animated-hover" data-toggle="modal" href="{{ url_for('logout') }}">
                            <i class="fa fa-fw fa-sign-out faa-horizontal"></i>Cerrar sesión
                        </a>
                    </li>

                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </nav>
    {% endblock navbar %}

    {% block content %}

    {% endblock content %}

    {% block footer %}
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Grupo 03 © PGPI 2017</small>
                </div>
            </div>
        </footer>
    {% endblock footer %}

    {% block scripts %}
<!-- Bootstrap core JavaScript-->
<script src="../static/startbootstrap-sb-admin-gh-pages/vendor/jquery/jquery.min.js"></script>
<script src="../static/startbootstrap-sb-admin-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="../static/startbootstrap-sb-admin-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="startbootstrap-sb-admin-gh-pages/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<!-- Toggle between fixed and static navbar-->
<script>
    $('#toggleNavPosition').click(function() {
        $('body').toggleClass('fixed-nav');
        $('nav').toggleClass('fixed-top static-top');
    });

</script>
<!-- Toggle between dark and light navbar-->
<script>
    $('#toggleNavColor').click(function() {
        $('nav').toggleClass('navbar-dark navbar-light');
        $('nav').toggleClass('bg-dark bg-light');
        $('body').toggleClass('bg-dark bg-light');
    });

</script>

{% endblock scripts %}
{% endblock body %}

