
{% extends 'bootstrap/base.html' %}

<html class="loading">

{% block title %}Gestor de incidencias{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <!-- Custom styles for base_login -->
    <link rel="stylesheet" href="/static/css/login.css" type="text/css">
{% endblock %}



{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>

    {% block footer %}
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Grupo 03 © PGPI 2017</small>
                </div>
            </div>
        </footer>
    {% endblock footer %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

</html>