
{% extends "base_crear_incidencia.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Crear Incidencia{% endblock %}

{% block page_content %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- styles para crear incidencia -->
  <link href="../static/css/crear_incidencia.css" rel="stylesheet">

    <div class="page-header">
        <h1>
            Crear una incidencia
        </h1>
    </div>


<div class="container">
    <div class="row">
    	<div class="col-md-12">
			<form>
                <div id="contact-form" class="form-container" data-form-container>

                    <div class="row">
                        <div class="form-title">
                            <span>Rellenar nueva incidencia</span>
                        </div>
                    </div>

                    <div class="input-container">
                        <div class="row">
                            <span class="req-titulo" >
                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Introduzca el título de la incidencia"> </span>
                                <input type="text" data-min-length="8" placeholder="Título de incidencia">
                            </span>
                        </div>

                        <div class="row">
                            <span class="req-descripcion">
                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Desarrolle una descripción de la incidencia"> </span>
                                <!-- <input type="text" data-min-length="60" placeholder="Descripción"> -->
                                ​<textarea id="txtArea" placeholder="Descripción" rows="10" cols="70"></textarea>
                            </span>
                        </div>

                        <div class="row">
                            <span class="req-id-dispositivo">
                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Introduzca el identificador del dispositivo"> </span>
                                <input type="text" data-min-length="10" placeholder="Id dispositivo">
                            </span>
                        </div>

                        <div class="row">
                            <span class="req-fecha-incidencia">
                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Introduzca la fecha de la incidencia"> </span>
                                <span> Seleccione la fecha de incidencia: </span>
                                <input type="date" placeholder="Fecha incidencia">
                            </span>
                        </div>

                        <div class="row">
                            <span class="req-fecha-alta">
                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Introduzca la fecha de alta de la incidencia"> </span>
                                <span> Seleccione la fecha de alta: </span>
                                <input type="date" placeholder="Fecha de alta">
                            </span>
                        </div>

                        <div class="row">
                            <span class="req-categoria">
                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Seleccione su categoría"> </span>
                                <!-- <input type="date" placeholder="Fecha de alta"> -->
                                <div class="col-md-3 col-md-offset-4 selector pull-right">
                                    <span class="texto-selector"> Seleccione la categoría: </span>
                                    <select>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                </div>
                            </span>
                        </div>

                        <div class="row">
                            <span class="req-estado">
                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Seleccione su estado"> </span>
                                <!-- <input type="date" placeholder="Fecha de alta"> -->
                                <div class="col-md-3 col-md-offset-4 selector pull-right">
                                    <span class="texto-selector"> Seleccione el estado: </span>
                                    <select>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                </div>
                            </span>
                        </div>

                        <div class="row">
                            <span class="req-prioridad">
                                <span class="input-status" data-toggle="tooltip" data-placement="top" title="Seleccione su prioridad"> </span>
                                <!-- <input type="date" placeholder="Fecha de alta"> -->
                                <div class="col-md-3 col-md-offset-4 selector pull-right">
                                    <span class="texto-selector"> Seleccione la prioridad: </span>
                                    <select>
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                      <option>4</option>
                                      <option>5</option>
                                    </select>
                                </div>
                            </span>
                        </div>

                        <div class="row submit-row">
                            <button type="button" class="btn btn-block btn-block-incidencia submit-form">CREAR</button>
                        </div>

                    </div>
                </div>
			</form>
		</div>
    </div>
</div>
{% endblock %}
